body {
  font-family: sans-serif;
  padding: 10px;
}

input, select, button {
  margin: 4px 0;
  padding: 6px;
  width: 100%;
  max-width: 300px;
}
body.almacen {
  background-color: #fff8dc;
}

body.cosmetica {
  background-color: #ffe4f0;
}

